

body {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7; 
  line-height: 1.6; 
}

/* Product Catalog */

.product-catalog {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff; 
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; 
  background-image: linear-gradient(to bottom, #ffffff, #f7f7f7); 
}

.product-catalog h1 {
  font-size: 35px;
  margin-bottom: 25px;
  color: 	black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.product-catalog ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-catalog li {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.product-catalog img {
  width: 120px;
  height: 120px;
  margin-right: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-catalog h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #050505; 
  font-weight: bold;
}

.product-catalog p {
  font-size: 16px;
  color: #666666;
}

/* Product Details */

.product-details {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
}

.product-details h1 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #3498db; 
  font-weight: bold;
  text-transform: uppercase;
}

.product-details p {
  font-size: 16px;
  color: #666666;
  margin-bottom: 25px;
}

.product-details img {
  width: 250px;
  height: 250px;
  margin-right: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Shopping Cart */

.shopping-cart {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
}

.shopping-cart h1 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #e74c3c; 
  font-weight: bold;
  text-transform: uppercase;
}

.shopping-cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shopping-cart li {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.shopping-cart h1 i {

  margin-right: 10px;

  font-size: 30px;

}

/* Button Styles */

button {
  background-color: #3498db; 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2ecc71; 
}

/* Link Styles */

a {
  text-decoration: none;
  color: #3498db; 
}

a:hover {
  color: #2ecc71; 
}


